<div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
  <a *ngFor="let item of productoService.productosFiltrados" [routerLink]="['/item', item.cod]" class="rk-item ae-masonry__item animated fadeIn">
    <img src="assets/img/{{ item.url }}.jpg" alt="">
    <div class="item-meta">
      <h2>{{ item.titulo }}</h2>
      <p>{{ item.categoria }}</p>
    </div>
  </a>
</div>
